/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.nav {
	li {
		a {
			padding: 19px 26px 8px 26px;
		}
	}
}

.home-intro {
	width: 32%;
	top:-120%;
}

.radio-callout {
	width: 55%;
	margin-left: 43%;
}

