/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.home-intro {
	width: 20%;
	top: -100%;
}

.radio-callout {
	width: 68%;
	margin-left: 30%;
}



.videoWrapper {
	padding-bottom: 0;
	padding-top: 0;
	width: 1600px;
	height: 898px;
}