/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.home-intro {

	top: -100%;
}

.radio-callout {

}



.videoWrapper {
	padding-bottom: 0;
	padding-top: 0;
	width: 1600px;
	height: 898px;
}

/*********************
SERIES STYLES
*********************/

.stories-list {

	.left-column {

		h2, p {
			padding-left: 40%;
		}

		p {
			padding-left: 40%;
		}
	}

	.right-column {

		h2, p {
			padding-right: 40%;
		}

		p {
			padding-right: 40%;
		}
	}
}