/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
@font-face {
  font-family: "Galano Grotesque W00 SemiBold";
  src: url("../fonts/1591506/6a4adaff-3e5f-448f-923e-9dc8aacae9a9.eot?#iefix");
  src: url("../fonts/1591506/6a4adaff-3e5f-448f-923e-9dc8aacae9a9.eot?#iefix") format("eot"), url("../fonts/1591506/61163eda-7b16-4c14-82e5-cedb885afea7.woff2") format("woff2"), url("../fonts/1591506/f6805913-d8a9-43fd-9dd1-18161300f0da.woff") format("woff"), url("../fonts/1591506/d800f19f-4650-4105-bcfa-8ac0d8a86445.ttf") format("truetype");
}

@font-face {
  font-family: 'GaramondPremrPro';
  src: url("../fonts/GaramondPremrPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GaramondPremrPro.otf") format("opentype"), url("../fonts/GaramondPremrPro.woff") format("woff"), url("../fonts/GaramondPremrPro.ttf") format("truetype"), url("../fonts/GaramondPremrPro.svg#GaramondPremrPro") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond Premr Pro Capt';
  src: url("../fonts/GaramondPremrPro-MedCapt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/GaramondPremrPro-Capt.eot?#iefix") format("embedded-opentype"), url("../fonts/GaramondPremrPro-Capt.woff") format("woff"), url("../fonts/GaramondPremrPro-Capt.ttf") format("truetype"), url("../fonts/GaramondPremrPro-Capt.svg#e95e170fba010bf085b936bbb4e638e1") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Garamond Premr Pro Med Capt';
  src: url("../fonts/GaramondPremrPro-MedCapt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/GaramondPremrPro-MedCapt.eot?#iefix") format("embedded-opentype"), url("../fonts/GaramondPremrPro-MedCapt.woff") format("woff"), url("../fonts/GaramondPremrPro-MedCapt.ttf") format("truetype"), url("../fonts/GaramondPremrPro-MedCapt.svg#1aab186091644f204b144578c59edb64") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 102, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 33, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 34, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 35, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 36, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 81, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 85, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 90, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 95, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 24, ../scss/breakpoints/_768up.scss */
p {
  font-size: 18px;
}

/* line 28, ../scss/breakpoints/_768up.scss */
a.section-links {
  font-size: 18px;
}
/* line 31, ../scss/breakpoints/_768up.scss */
a.section-links.sm {
  font-size: 18px;
}

/* line 36, ../scss/breakpoints/_768up.scss */
p.helper {
  font-size: 13px;
}

/* line 40, ../scss/breakpoints/_768up.scss */
h1, .h1 {
  font-size: 32px;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 48, ../scss/breakpoints/_768up.scss */
#content {
  margin-top: 1.5em;
}

/* line 57, ../scss/breakpoints/_768up.scss */
.wrap.wrap-full {
  width: 100%;
}

/*********************
HEADER STYLES
*********************/
/* line 68, ../scss/breakpoints/_768up.scss */
.logo {
  margin: 0 12px 0 16px;
  position: relative;
  width: 185px;
  height: 48px;
  background-position: 46% 21px;
  z-index: 99;
}
/* line 76, ../scss/breakpoints/_768up.scss */
.logo .highlight {
  opacity: 0;
  width: 98%;
  height: 6px;
  background: #589ca6;
  border-right: 7px solid white;
  border-left: 7px solid white;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 2;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}
/* line 94, ../scss/breakpoints/_768up.scss */
.logo:hover .highlight {
  opacity: 1;
}

/* line 105, ../scss/breakpoints/_768up.scss */
.home .logo .highlight {
  opacity: 1;
}

/*********************
GENERAL STYLES
*********************/
/* line 116, ../scss/breakpoints/_768up.scss */
.videoWrapper {
  width: 94%;
  max-width: 1600px;
  margin: 0 auto;
}

/* line 122, ../scss/breakpoints/_768up.scss */
.page-subhead {
  padding-bottom: 100px;
}
/* line 126, ../scss/breakpoints/_768up.scss */
.page-subhead h4 {
  font-size: 16px;
  margin-left: 11%;
}
/* line 133, ../scss/breakpoints/_768up.scss */
.page-subhead .top-line .highlight {
  border-left: 3px solid white;
  margin-left: 11%;
}

/* line 142, ../scss/breakpoints/_768up.scss */
.standard-left-padd {
  padding-left: 11%;
}
/* line 146, ../scss/breakpoints/_768up.scss */
.standard-left-padd.section-callout {
  padding-top: 80px;
  padding-bottom: 180px;
}
/* line 151, ../scss/breakpoints/_768up.scss */
.standard-left-padd.add-right {
  padding-right: 11%;
}

/* line 156, ../scss/breakpoints/_768up.scss */
.w75 {
  width: 75%;
}

/*********************
HOME STYLES
*********************/
/* line 165, ../scss/breakpoints/_768up.scss */
.home-intro {
  position: absolute;
  width: 40%;
  margin: 0;
  margin-top: auto;
  display: block;
  background: white;
  z-index: 2;
  top: -138%;
  left: 8%;
}
/* line 178, ../scss/breakpoints/_768up.scss */
.home-intro h1 {
  font-size: 37px;
}

/* line 183, ../scss/breakpoints/_768up.scss */
.radio-callout {
  width: 48%;
  margin-left: 50%;
}

/*********************
CONVERSATION STYLES
*********************/
/* line 193, ../scss/breakpoints/_768up.scss */
.convo p.quote {
  font-size: 26px;
  padding-right: 8%;
}
/* line 198, ../scss/breakpoints/_768up.scss */
.convo p.caption {
  font-family: "Galano Grotesque W00 SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
/* line 203, ../scss/breakpoints/_768up.scss */
.convo.even {
  padding-top: 8%;
}
/* line 205, ../scss/breakpoints/_768up.scss */
.convo.even p.quote {
  padding-left: 28%;
}

/* line 215, ../scss/breakpoints/_768up.scss */
.single-conversations p {
  font-size: 21px;
}
/* line 218, ../scss/breakpoints/_768up.scss */
.single-conversations p.comment-notes {
  font-size: 18px;
}
/* line 224, ../scss/breakpoints/_768up.scss */
.single-conversations .c-header h1 {
  font-size: 32px;
  padding-right: 35%;
}
/* line 229, ../scss/breakpoints/_768up.scss */
.single-conversations .c-header .caption {
  font-size: 18px;
}

/*********************
SERIES STYLES
*********************/
/* line 247, ../scss/breakpoints/_768up.scss */
.featured-series .location {
  font-size: 13px;
}
/* line 251, ../scss/breakpoints/_768up.scss */
.featured-series .photo-caption {
  font-size: 13px;
  padding-right: 10%;
}
/* line 256, ../scss/breakpoints/_768up.scss */
.featured-series .copy {
  width: 40%;
  left: 8%;
}

/* line 264, ../scss/breakpoints/_768up.scss */
.series-index .even .copy {
  left: auto;
  right: 8%;
}

/* line 274, ../scss/breakpoints/_768up.scss */
.stories-list .story-item h2 {
  font-size: 21px;
}
/* line 279, ../scss/breakpoints/_768up.scss */
.stories-list .story-item.v1 .photo {
  width: 80%;
}
/* line 285, ../scss/breakpoints/_768up.scss */
.stories-list .story-item.v2 .photo {
  width: 90%;
}
/* line 291, ../scss/breakpoints/_768up.scss */
.stories-list .story-item.v3 .photo {
  width: 95%;
}
/* line 296, ../scss/breakpoints/_768up.scss */
.stories-list .story-item .hr {
  display: block;
  width: 80%;
  height: 1px;
}
/* line 303, ../scss/breakpoints/_768up.scss */
.stories-list .left-column {
  padding-right: 5%;
}
/* line 306, ../scss/breakpoints/_768up.scss */
.stories-list .left-column h2, .stories-list .left-column p {
  text-align: right;
  padding-left: 20%;
}
/* line 311, ../scss/breakpoints/_768up.scss */
.stories-list .left-column p {
  padding-left: 20%;
}
/* line 315, ../scss/breakpoints/_768up.scss */
.stories-list .left-column .photo {
  float: right;
}
/* line 321, ../scss/breakpoints/_768up.scss */
.stories-list .left-column .story-item:last-child .hr {
  display: none;
}
/* line 326, ../scss/breakpoints/_768up.scss */
.stories-list .left-column .hr {
  float: right;
}
/* line 331, ../scss/breakpoints/_768up.scss */
.stories-list .right-column {
  padding-top: 115px;
  padding-left: 5%;
}
/* line 335, ../scss/breakpoints/_768up.scss */
.stories-list .right-column h2, .stories-list .right-column p {
  text-align: left;
  padding-right: 20%;
}
/* line 340, ../scss/breakpoints/_768up.scss */
.stories-list .right-column p {
  padding-right: 20%;
}
/* line 344, ../scss/breakpoints/_768up.scss */
.stories-list .right-column .photo {
  float: left;
}
/* line 349, ../scss/breakpoints/_768up.scss */
.stories-list .right-column .story-item:last-child .hr {
  display: none;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 362, ../scss/breakpoints/_768up.scss */
.slicknav_menu {
  display: none;
}

/* line 366, ../scss/breakpoints/_768up.scss */
.logo.mobile-logo {
  display: none;
}

/* line 370, ../scss/breakpoints/_768up.scss */
.header {
  display: block;
}

/* line 374, ../scss/breakpoints/_768up.scss */
.nav {
  border-top: 2px solid #589ca6;
  margin-top: 12px;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 378, ../scss/breakpoints/_768up.scss */
.nav.footer-nav {
  border: none;
}
/* line 380, ../scss/breakpoints/_768up.scss */
.nav.footer-nav li {
  float: none;
}
/* line 386, ../scss/breakpoints/_768up.scss */
.nav ul {
  background: black;
  margin-top: 0;
  overflow: visible;
}
/* line 392, ../scss/breakpoints/_768up.scss */
.nav li {
  float: left;
  position: relative;
  overflow: visible;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 397, ../scss/breakpoints/_768up.scss */
.nav li a {
  border-bottom: 0;
  color: #589ca6;
  font-family: "garamond-premier-pro-caption", serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 19px 13px 8px 13px;
  position: relative;
  overflow: visible;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 412, ../scss/breakpoints/_768up.scss */
.nav li a:hover, .nav li a:focus {
  color: #589ca6;
  text-decoration: none;
  background: white;
}
/* line 417, ../scss/breakpoints/_768up.scss */
.nav li a:hover .highlight, .nav li a:focus .highlight {
  background: #94c1c2;
  opacity: 1;
}
/* line 423, ../scss/breakpoints/_768up.scss */
.nav li a .highlight {
  opacity: 0;
  width: 96%;
  height: 6px;
  background: #589ca6;
  border-right: 7px solid white;
  border-left: 7px solid white;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 2;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}
/* line 446, ../scss/breakpoints/_768up.scss */
.nav li.current-menu-item a .highlight {
  opacity: 1;
}
/* line 456, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 464, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 466, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 483, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 493, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 508, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}

/* end .nav */
/* line 526, ../scss/breakpoints/_768up.scss */
.post-type-archive-conversations .menu-item-17 a .highlight {
  opacity: 1;
}

/* line 532, ../scss/breakpoints/_768up.scss */
.single-post .current_page_parent a .highlight {
  opacity: 1;
}

/* line 538, ../scss/breakpoints/_768up.scss */
.single-conversations .menu-item-17 a .highlight {
  opacity: 1;
}

/* line 544, ../scss/breakpoints/_768up.scss */
.social-menu.top-social {
  display: block;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 554, ../scss/breakpoints/_768up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 558, ../scss/breakpoints/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 563, ../scss/breakpoints/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 568, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 576, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 683, ../scss/breakpoints/_768up.scss */
.footer {
  margin-top: 150px;
}

/* line 688, ../scss/breakpoints/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 14, ../scss/breakpoints/_1030up.scss */
.nav li a {
  padding: 19px 26px 8px 26px;
}

/* line 20, ../scss/breakpoints/_1030up.scss */
.home-intro {
  width: 32%;
  top: -120%;
}

/* line 25, ../scss/breakpoints/_1030up.scss */
.radio-callout {
  width: 55%;
  margin-left: 43%;
}

/* line 30, ../scss/breakpoints/_1030up.scss */
h1, .h1 {
  font-size: 36px;
}

/*********************
CONVERSATION STYLES
*********************/
/* line 39, ../scss/breakpoints/_1030up.scss */
.convo p.quote {
  font-size: 32px;
}

/* line 47, ../scss/breakpoints/_1030up.scss */
.single-conversations .c-header h1 {
  font-size: 38px;
}
/* line 51, ../scss/breakpoints/_1030up.scss */
.single-conversations .c-header .caption {
  font-size: 22px;
}

/*********************
SERIES STYLES
*********************/
/* line 64, ../scss/breakpoints/_1030up.scss */
.featured-series .bg-photo {
  height: 640px;
}
/* line 68, ../scss/breakpoints/_1030up.scss */
.featured-series .copy {
  width: 32%;
}

/* line 77, ../scss/breakpoints/_1030up.scss */
.stories-list .story-item h2 {
  font-size: 25px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
